body {
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  background: #fef200;
  text-align: center;
}

#score {
  position: fixed;
  top: 15px;
  left: 15px;
  background: #000;
  color: #00ffff;
  padding: 12px 18px;
  border-radius: 12px;
  border: 2px solid #00ffff;
  box-shadow: 0 0 20px #00ffff;
  font-size: 1.5em;
}

#title {
  font-size: 80px;
  margin: 60px 0 30px;
  text-shadow: 3px 3px #000;
}

.yellow { color: #ffea00; display: block; }
.green { color: #00ff00; display: block; margin-top: -15px; }

#container {
  display: flex;
  justify-content: space-between;  /* pushes game left, shop right */
  align-items: flex-start;          /* makes sure they start from top */
  gap: 80px;
  padding: 20px 60px;
  flex-wrap: wrap;
}



#game img {
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: transform 0.1s;
}

#game img:active {
  transform: scale(0.95);
}

#shop {
  background: linear-gradient(135deg, #4da6ff, #1a75ff);
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 4px 4px #000;
  color: #fff;
  max-height: 70vh;
  overflow-y: auto;
  margin-top: -30px;  /* moves the shop panel up */

}

#shop h2 {
  color: yellow;
  text-shadow: 2px 2px #000;
  margin-bottom: 20px;
}

.card {
  background: #fff8cc;
  color: #000;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 15px;
  box-shadow: 3px 3px #000;
}

.card button {
  font-family: 'Luckiest Guy', cursive;
  background: #ffcc00;
  border: 2px solid #000;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.card p {
  margin: 5px 0;
}

.card small {
  font-style: italic;
}
.blue {
  color: #66ccff;
}
